
* {
	box-sizing: border-box;
}

body{
	background-image: url(../images/muti-globe.jpg);
	background-position: center;
}

#header{
	font-family: 'Bungee Shade', cursive;
	color: black;
	margin: 20px auto;
	padding: 10px 10px 0px 10px;
	text-align: center;
	width: 75%;
	font-size: 40px;
	height: 150px;
	

	
}

#subheader{
	font-family: 'Bungee Inline', cursive;
	/*background-color: #ff6f69;*/
	color: black;
	margin: 0px auto;
	padding: 0px 10px;
	text-align: center;
	width: 100%;
	font-size: 24px;
	height: 60px;
}

#attemptCountdown {
	font-family: 'Rajdhani', sans-serif;
	font-weight: bold;
	clear: both;
	font-size: 24px;
	margin: 20px auto;
	text-align: center;
	height: 30px;
	width: 75%;
	background-color: #bfe8fb;


}

#underscore {
	clear: both;
	font-size: 28px;
	margin: 20px auto;
	text-align: center;
	height: 150px;
	width: 90%;
	background-color: #e7f6fd;
	font-family: 'Bungee Inline', cursive;


}

#subunderscore{
	font-family: 'Rajdhani', sans-serif;
	font-weight: bold;
	margin: 20px auto;
	font-weight: normal;
	color: #f55b17;


}


#usedLetter {
	font-family: 'Bungee Inline', cursive;
	font-size: 22px;
	margin: 20px auto;
	text-align: center;
	height: 100px;
	font-weight: bold;
	width: 60%;
	background-color: #d0ecf9


}
#subusedLetter{
	font-family: 'Rajdhani', sans-serif;
	margin: 10px auto;
	font-weight: normal;
	

}

#wrongLetter {
	font-family: 'Bungee Inline', cursive;
	font-size: 18px;
	margin: 10px auto;
	text-align: center;
	height: 100px;
	width: 60%;
	padding-top: 10px;
	background-color: #d0ecf9
}

#subwrongLetter{
	font-family: 'Rajdhani', sans-serif;
	margin-top: 20px auto;
	font-weight: normal;

}

#winCount{
	font-family: 'Bungee Inline', cursive;
	font-weight: bold;
	font-size: 24px;
	margin: 10px 10px auto auto;
	text-align: center;
	height: 150px;
	width: 10%;
	padding-top: 10px;
	float: right;
	background-color: #91ba1b;
	color: #d0ecf9;
	

}

#subwinCount{
	font-family: 'Rajdhani', sans-serif;
	margin-top: 15px;
	font-weight: bold;
	font-size: 24px;
	color: #9a1616;

}


@media screen and (max-width: 980px){
	#header, #attemptCountdown, #underscore, #usedLetter, #wrongLetter {
		width: 80%;
	}	
	#winCount{
		float: none;
		width: 80%;
		height: 15%;
		margin: 0px auto;
	}
}

		

@media screen and (max-width: 768px){
	#header, #attemptCountdown, #underscore, #usedLetter, #wrongLetter {
		width: 100%;
	}	
	#header{
		height: 60%;
	}
	#winCount{
		float: none;
		width: 100%;
		height: 15%;
	}
	#subwinCount {
		height: 10%;
	}

	
	
}
@media screen and (max-width: 640px){
	#header, #attemptCountdown, #underscore, #usedLetter, #wrongLetter {
		width: 100%;
	}	
	#header{
		height: 60%;
	}
	#winCount{
		width: 100%;
		float: none;
		height: 20%;
	}
	#subwinCount {
		height: 10%;
	}


	
}




