
* {
	box-sizing: border-box;
}

body{
	background-color: #fceade;
}

#header{
	font-family:'Bungee Inline', cursive;
	color: #514f4f;
	background-color: #ff6f69;
	margin: 20px auto;
	padding: 10px 10px 0px 10px;
	text-align: center;
	width: 60%;
	font-size: 28px;
	height: 150px;
}

#subheader{
	font-family:'Bungee Inline', cursive;
	background-color: #ff6f69;
	color: black;
	margin: 0px auto;
	padding: 0px 10px;
	text-align: center;
	width: 100%;
	font-size: 20px;
	height: 70px;
	border: 1px solid black
}

#attemptCountdown {
	font-family: 'Rajdhani', sans-serif;
	font-weight: bold;
	clear: both;
	font-size: 20px;
	margin: 20px auto;
	text-align: center;
	height: 80px;
	padding: auto;
	width: 60%;

}

#underscore {
	font-family: 'Rajdhani', sans-serif;
	font-weight: bold;
	border: 2px solid black;
	clear: both;
	font-size: 28px;
	margin: 10px auto;
	text-align: center;
	height: 200px;
	width: 60%;

}

#subunderscore{
	font-family: 'Rajdhani', sans-serif;
	margin: 50px auto;


}


#usedLetter {
	font-family: 'Rajdhani', sans-serif;
	clear: both;
	font-size: 28px;
	margin: 10px auto;
	text-align: center;
	height: 100px;
	font-weight: bold;
	width: 60%;

}
#subusedLetter{
	font-family: 'Rajdhani', sans-serif;
	margin: 20px auto;
	font-weight: normal;

}

#wrongLetter {
	font-family: 'Rajdhani', sans-serif;
	font-weight: bold;
	border-top: 1px solid black;
	clear: both;
	font-size: 24px;
	margin: 10px auto;
	text-align: center;
	height: 100px;
	width: 60%;
	padding-top: 10px;
}

#subwrongLetter{
	font-family: 'Rajdhani', sans-serif;
	margin-top: 5px auto;
	font-weight: normal;

}

#winCount{
	font-family: 'Bungee Inline', cursive;
	font-weight: bold;
	border: 2px solid black;
	clear: both;
	font-size: 24px;
	margin: 5px 50px auto auto;
	text-align: center;
	height: 150px;
	width: 10%;
	padding-top: 10px;
	float: right;
	font-weight: regular;

}

#subwinCount{
	font-family: 'Rajdhani', sans-serif;
	margin-top: 15px;
	font-weight: bold;
	font-size: 24px;


}



